body {
    font-family: 'News Cycle', sans-serif;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, auto);

    width: 1200px;
    border: 1px solid #000000;

}

header {
    grid-column: 1/9;
    grid-row: 1/2;
    display: grid;
    border: 1px solid #000000;

}

.titulo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

h1 {
    font-weight: 700;
    font-size: 80px;
    grid-column: 1/4;
    grid-row: 1/2;
}

.titulo-p {
    font-size: 30px;
    margin-top: 1rem;
}

.nav-botoes {
    grid-column: 6/7;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.botoes-top {
    border: 1px solid #ffffff;
    border-radius: 25px;
    background-color: orangered;
    width: fit-content;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.cont-img-principal {
    background-color: #000000;
    grid-column: 1/9;
    grid-row: 2/3;
    height: 15rem;
}

.img-principal {
    border: #000000;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.noticias-principais {
    background-color: aqua;
    grid-column: 1/9;
    grid-row: 3/4;
    display: flex;
    justify-content: space-evenly;
}

.secundaria-1 {
    grid-column: 1/3;
    background-color: red;
}

.secundaria-2 {
    grid-column: 3/5;
    background-color: green;
}

.secundaria-3 {
    grid-column: 5/9;
    background-color: yellow;
}

.outros {
    grid-column: 1/9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.editorial {
    grid-column: 1/3;
}

footer {
    grid-column: 1/9;
    grid-row: 6/7;
    height: 2rem;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}