body{
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'News Cycle', sans-serif;
}


h1{
    font-weight: 700;
    font-size: 80px;

}

.botoes-top{
    border: 1px solid #ffffff;
    border-radius: 25px;
    background-color: orangered;
    width: fit-content;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    box-shadow: 0px 2px 1px 0px  rgba(0, 0, 0, 0.2);
}

